<h2>Search Results</h2>

<% @keyword_results_json.each do |result| %>
<li>
  <img src=<%= result["artworkUrl600"] %> class="podcast-images">
  <%= link_to result["collectionName"], info_path(:title => result["collectionName"], :podcast_id => result["collectionId"]) %>
</li>
<% end %>

<a href="/">More</a>