<h2 id="header">
Search Results
</h2>

<%= render "results" %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @keyword_results_json %>
  </div>
  <%= will_paginate @keyword_results_json, :container => false %>
</div>