<h1><%= params[:title] %></h1>

<img src= <%= @image %> class="podcast-show-image">

<span>Description:</span>
<p>
<%= @description.to_s.gsub("<p>","").gsub("</p>","") %>
</p>


<%= render "tweets" %>